:root {
    --cell-width: 40px;
    --cell-height: 40px;
    --width-cells: 10;
    --height-cells: 20;
}

/* html, body{overflow:hidden;} */
  
.the_grid{
    display: grid;
    grid-template-columns: 10px repeat(var(--width-cells),var(--cell-width)) 10px;
    grid-template-rows: 10px repeat(var(--height-cells),var(--cell-height)) 10px;
    --pre-calcs: calc(10 * 2);
    max-width: calc(10px * 2 + (var(--width-cells) * var(--cell-width)));
    margin: auto;
}

body {
    text-align: center;
    background-color: #5d5d5d;
}

.fichaeje {
    visibility: hidden;
}

.ghosteje {
    visibility: hidden;
}

#level-title {
    font-family: 'Press Start 2P';
    font-size: 2rem;
    margin: 2%;
    color: #FEF2BF;
}

.bloque {
    border: 1px dotted #ffffff;
}
.ficha {
    border: 1px dotted #ffffff;
}

.ghost {
    /* border: 4px solid #ccde07; */
    visibility: hidden;
}

.ghostcheck{
    border-color: #09c92f;
    border: 3px solid #b51515;
}

